<h2>Clinica Psico</h2>
<p>
  En <b>Psico</b>, entendemos que el bienestar emocional es la base de todas las
  relaciones saludables. Nuestro objetivo es conectar a profesionales de la
  psicología en un espacio seguro y confiable, fomentando el intercambio de
  conocimientos y experiencias. Aquí, puedes encontrar colegas para discutir
  casos, compartir investigaciones y, lo más importante, apoyarte mutuamente en
  el crecimiento profesional y personal.
</p>
<p>
  Ya sea que busques colaboración, amistad o simplemente intercambiar ideas,
  estás en el lugar correcto. Únete a nuestra comunidad y fortalece tus
  conexiones mentales.
</p>
<p>¡Explora, conecta y crece con nosotros!</p>

<button class="btn1" [routerLink]="'/login'">Identificate</button>
<span class="ms-3"></span>
<button class="btn1" [routerLink]="'/registro'">Registrate</button>
