<div class="login-container" [ngClass]="{ 'transparent-bg': loading }">
  <form [formGroup]="loginForm" class="custom-form">
    <h1 class="text-white">Iniciar sesion</h1>
    <input
      type="text"
      formControlName="dni"
      name="dni"
      placeholder="Inserte DNI"
      required
    />
    <div *ngIf="loginForm.get('dni')required">
    </div>
    <input
      type="password"
      formControlName="password"
      name="password"
      placeholder="Inserte Contraseña"
      required
    />
    <div *ngIf="loginForm.get('password')required">
    </div>
    <button type="submit" (click)="login()">Acceder</button>
  </form>
  <br>

  <!-- Spinner de carga -->
  <div *ngIf="loading" class="spinner-container">
    <div class="spinner-border  text-primary" role="status">
    </div>
  <!-- Mensajes de error -->
    <section *ngIf="mensaje" class="alert alert-success">
      {{ mensaje }}
    </section>
  </div>
  <br><br>
</div>
<div *ngIf="error" class="alert alert-danger text-center">
  {{ mensaje }}
</div>